
<div class="restaurant-details">
    <div class="restaurant-header">
        <h1>{{foodItemResponse.restaurant.name}}</h1>
        <button class="checkout-button" (click)="onCheckOut()">
            <i class="fas fa-shopping-cart"></i>
            Checkout
        </button>
    </div>
    <p>{{foodItemResponse.restaurant.restaurantDescription}}</p>

    <h2>Food Menu</h2>
    <div class="food-list">
        <div class="food-item" *ngFor="let food of foodItemResponse.foodItemsList">
            <div class="food-details">
                <div class="food-name">{{food.itemName}}</div>
                <div class="food-price">&#x20b9; {{food.price}}</div>
            </div>
            <div class="food-quantity">
                <button class="minus-button" *ngIf="food.quantity > 0" (click)="decrement(food)">-</button>
                <div class="quantity-label">{{food.quantity}}</div>
                <button class="plus-button" (click)="increment(food)">+</button>
            </div>
        </div>
    </div>

</div>
