.restaurant-details {
    text-align: center;
    margin: 20px auto;
    max-width: 800px;
  }
  
  .food-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0;
  }
  
  .food-item {
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    width: 800px;
  }
  
  .food-details {
    flex-grow: 1;
    text-align: left;
  }
  
  .food-name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .food-price {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .food-quantity {
    display: flex;
    align-items: center;
  }
  
  .minus-button,
  .plus-button {
    background-color: #008CBA;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 30px;
    height: 30px;
  }
  
  .minus-button:hover,
  .plus-button:hover {
    background-color: #006080;
  }
  
  .quantity-label {
    margin: 0 10px;
    font-size: 18px;
  }

  .checkout-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 0    px;
  }
  
  .checkout-button:hover {
    background-color: #3e8e41;
  }
  
  .checkout-button:active {
    background-color: #367832;
  }
  .checkout-button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
  
  .restaurant-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  






  