.user-avatar {
    display: flex;
    align-items: center;
  }
  
  .user-avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }
  
  .username {
    font-size: 14px;
    font-weight: bold;
  }
  