
.my-gap {
    margin-top: 20px;
  }
  .restaurant-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(250px, 1fr));
    grid-gap: 20px;
  }
  
  .restaurant-card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
  }
  
    .restaurant-image {
      height: 200px;
      overflow: hidden;
    }
  
    .restaurant-image img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  
    .restaurant-details {
      padding: 20px;
    }
  
    .restaurant-name {
      font-size: 20px;
      margin: 0;
    }
  
    .restaurant-rating {
      margin: 10px 0;
    }
  
    .rating {
      font-weight: bold;
      margin-right: 5px;
    }
  
    .star {
      color: orange;
    }
  
    .order-btn {
      background-color: #00a7e1;
      border: none;
      border-radius: 5px;
      color: #fff;
      cursor: pointer;
      font-size: 16px;
      padding: 10px;
      transition: background-color 0.3s ease;
      width: 100%;
    }
  
    .order-btn:hover {
      background-color: #0093c6;
    }
  
  
    .header {
      background-color: #00A7E1;
      color: #fff;
      padding: 20px 0;
    }
    
    .header-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 1200px;
      margin: 0 auto;
      padding: 0 20px;
    }
    
    .header-logo {
      font-size: 36px;
      font-weight: bold;
      margin: 0;
    }
    
    .header-nav ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
    }
    
    .header-nav li {
      margin-right: 20px;
    }
    
    .header-nav a {
      color: #fff;
      text-decoration: none;
      font-size: 18px;
      font-weight: 600;
      transition: all 0.3s ease;
    }
    
    .header-nav a:hover {
      color: #E7F9FF;
    }
    
    @media only screen and (max-width: 768px) {
      .header-container {
        flex-direction: column;
        text-align: center;
      }
    
      .header-nav {
        margin-top: 20px;
      }
    
      .header-nav ul {
        display: block;
      }
    
      .header-nav li {
        margin: 10px 0;
      }
    }
    